body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #40E0D0, #FF69B4);
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

header {
  background: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  text-align: center;
}

.container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
  text-align: center;
}

.form-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.select-box {
  width: 30%;
}

.button-container {
  width: 30%;
  text-align: center;
  margin-top: 32px; /* Align button vertically with select boxes */
}

button {
  padding: 10px 20px;
  background: #40E0D0;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #FF69B4;
}

.result {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  max-height: 400px;
  overflow-y: auto;
  margin-top: 10px;
}
